<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    王金玉文章详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container">
    <div class="row">
        <!-- 标题及作者 -->
        <h1 class="col-12 mt-4 mb-4">{{ article_content.title }}</h1>
        <div class="col-12 alert alert-success">作者：{{ article_content.author | safe }}</div>
        · <a href="#" onclick="confirm_delete()">删除文章</a>
        · <a href="{% url "articles:article_update" article_content.id %}">编辑文章</a>
{#        · <a href="{% url "articles:article_delete" article_content.id %}">删除文章</a>#}

        <!-- 文章正文 -->
        <div class="col-12">
            <p>{{ article_content.body |safe }}</p>
        </div>
    </div>
</div>

 <script>
    // 删除文章的函数
    function confirm_delete() {
        // 调用layer弹窗组件
        layer.open({
            // 弹窗标题
            title: "确认删除",
            // 正文
            content: "确认删除这篇文章吗？",
            // 点击确定按钮后调用的回调函数
            yes: function(index, layero) {
                // 指定应当前往的 url
                location.href='{% url "articles:article_delete" article_content.id %}'
            },
        })
    }
</script>

{% endblock content %}